body {
  padding-top: 116px;
}

.head_nav {
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  width: 100%;
}

.head_nav .head_nav_block {
  width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px auto;
      grid-template-columns: 150px auto;
  -ms-grid-rows: 108px;
      grid-template-rows: 108px;
}

.head_nav .head_nav_block .head_nav_logo_box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head_nav .head_nav_block .head_nav_logo_box .head_nav_logo {
  width: 125px;
  height: 55px;
}

.head_nav .head_nav_block .head_nav_service_box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 720px auto;
      grid-template-columns: 720px auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_search .head_nav_search_box {
  position: relative;
  width: 623px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_search .head_nav_search_box .head_nav_search_input {
  width: 623px;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  padding: 7.2px 110px 7.2px 20px;
  border-radius: 23px;
  border: 1px solid #a3a3a3;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_search .head_nav_search_box .head_nav_search_btn {
  position: absolute;
  right: 0;
  background-color: #6001d2;
  color: white;
  font-size: 20px;
  width: 73px;
  height: 46px;
  border-radius: 23px;
  cursor: pointer;
  border: 0;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_search .head_nav_search_handwriting_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_search .head_nav_search_handwriting_box .head_nav_search_handwriting {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window {
  text-decoration: none;
  color: #6e6e6e;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .weather_img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .weather_img_box .weather_img {
  width: 27px;
  height: 27px;
  -o-object-fit: cover;
     object-fit: cover;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .weather_img_box .temperature {
  font-size: 13px;
  position: absolute;
  top: -7px;
  left: 25px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .weather_img_box .county {
  font-size: 14px;
  padding-left: 15px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .login_btn {
  font-size: 13px;
  border: 2px solid #6001d2;
  border-radius: 3px;
  padding: 5px 25px;
  color: #6001d2;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .login_btn:hover {
  background-color: #6001d2;
  color: white;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .email_img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .email_img_box .email_img {
  width: 30px;
  height: 30px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_service .head_nav_service_window .service_window_box .service_window .email_img_box .email_text {
  font-size: 14px;
  color: #6001d2;
  padding: 10px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_hot_search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 720px auto;
      grid-template-columns: 720px auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_hot_search .head_nav_hot_search_box {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_hot_search .head_nav_hot_search_box .hot_search_text {
  font-size: 13px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_hot_search .head_nav_hot_search_box .hot_search_link_wrap .hot_search_link {
  border-right: 1px solid #b4b4b4;
  font-size: 13px;
  text-decoration: none;
  padding: 0 10px;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_hot_search .hot_search_advertising_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.head_nav .head_nav_block .head_nav_service_box .head_nav_hot_search .hot_search_advertising_box .hot_search_advertising {
  text-decoration: none;
  font-size: 13px;
  padding-right: 50px;
}

main {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 700px auto;
      grid-template-columns: 150px 700px auto;
}
/*# sourceMappingURL=style.css.map */